body{
    background-color:antiquewhite;
    
}
.main{
    font-family: 'Courier New', Courier, monospace;
    color:darkgreen;
}
.list{
    font-weight: bold;
}
h1 {
    background-color: burlywood;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
    font-weight: 100;
    text-decoration: double;
    position: sticky;
    top: 0;
}
.sidebar{
  background-color:bisque;
  padding: 20px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}
.footer{
    background-color: burlywood;
    font-family: 'Courier New', Courier, monospace;
    text-decoration:wavy;
}